<div class="container">
	<h1>Lista de personas</h1>

	<a href="/persona/c">
		<button>Crear</button>
	</a> <a href="/">
		<button>Cancelar</button>
	</a>
	
	<table class="table table-striped">
		<tr>
			<th>Loginname</th>
			<th>Nombre</th>
			<th>Altura</th>
			<th>Fecha nacimiento</th>
			<th>País nac.</th>
			<th>Foto</th>
			<th>Acción</th>
		</tr>

		<tr th:each="persona:${personas}">
			<td th:utext="${persona.loginname}"></td>

			<td th:utext="${persona.nombre}"></td>

			<td th:utext="${persona.altura}"></td>

			<td th:utext="${persona.fnac}"></td>
			
			<td th:utext="${persona.nace?.nombre}"></td>
	
			<td>
				<img th:if="${persona.foto != null}" th:src="|/img/upload/persona-${persona.id}.${persona.foto}|" height="100" width="100" />
				<img th:if="${persona.foto == null}" src="/img/upload/vacio.png" height="100" width="100" />
			</td>
			
			<td class="row">
				<form action="/persona/u" method="get">
					<input type="hidden" name="id" th:value="${persona.id}" />
					<button onclick="submit()">
						<img src="/img/lapiz.png" height="20" width="20">
					</button>
				</form>
				<form action="/persona/d" method="post">
					<input type="hidden" name="id" th:value="${persona.id}" />
					<button onclick="submit()">
						<img src="/img/basura.png" height="20" width="20">
					</button>
				</form>
			</td>
			
				</table>
</div>