<div class="container">
	<h1>Editar producto</h1>

	<a href="/">
		<button>Cancelar</button>
	</a>

	<form method="post" enctype="multipart/form-data" action="/producto/u" class="form">
	
		<input type="hidden" name="id" th:value="${producto.id}"/>

		<label for="id-nombre">Nombre</label>
		<input id="id-nombre" th:value="${producto.nombre}" type="text" name="nombre" required="required"> 
		<br/>
		
			<script>
			$(window).on("load",(function() {
			$(function() {
			$('#id-foto').change(function(e) {addImage(e);});
			function addImage(e){
				var file = e.target.files[0],
				imageType = /image.*/;
				if (!file.type.match(imageType)) return;
				var reader = new FileReader();
				reader.onload = fileOnload;
				reader.readAsDataURL(file);
			}
			function fileOnload(e) {
			var result = e.target.result;
			$('#id-out-foto').attr("src", result);
			}});}));
		</script>
		
		<label for="id-foto">Foto</label>
		<input id="id-foto" type="file" name="foto"/>
		<img class="offset-1 col-2" id="id-out-foto" width="3%" height="3%" src="" alt=""/>
		<br/><br/>
				
		<label for="id-precio">Precio</label>
		<input id="id-precio" th:value="${producto.precio}" type="number" step="0.01" name="precio" required="required"> 
		<br/>

		<label for="id-stock">Stock Inicial</label>
		<input id="id-stock" th:value="${producto.stock}" type="number" min="0" value="1" name="stock" required="required"> 
		<br/>
		
		<label for="idCategoria">Categoria del producto</label>
		<select name="idCategoria">
			<option th:each="categoria:${categorias}" th:text="${categoria.nombre}" th:value="${categoria.id}"></option>
		</select>
		<br/>
		
		<input type="submit"/>
	</form>
</div>